# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/
ENV/

# OS-specific
.DS_Store
Thumbs.db

# Project-specific local files & environment variables
.env
*.local
